body {
  padding: 4%;
  width: 80%;
  margin: 0 auto;
  font-family: 'Microsoft JhengHei';
}

#form {
  width: 90%;
  margin: 0 auto;
}

.rowHeader {
  font-weight: bold;
  font-size: 24px;
}

#form > div {
  text-align: center;
  background-color: antiquewhite;
  margin: 4px 0;
}

#form > .rowDiv:hover {
  background-color: yellowgreen;
}

#form > div > div,
#editBatch > div {
  display: inline-block;
  padding: 4px;
  line-height: 32px;
}

#form > div > div > input {
  font-size: 16px;
  border: 1px solid lightgray;
  width: 80%;
  line-height: 30px;
  background-color: white;
  text-align: center;
}

#form > div > div:nth-child(1) {
  width: 6%;
}

#form > div > div:nth-child(2),
#form > div >  div:nth-child(3) {
  width: 15%;
}

#form > div >  div:nth-child(4),
#form > div >  div:nth-child(5) {
  width: 18%;
}

#form > div >  div:nth-child(6) {
  width: 8%;
}
